<div id="<%= dom_id company %>">
  <p>
    <strong>Name:</strong>
    <%= company.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= company.email %>
  </p>

  <p>
    <strong>Pin:</strong>
    <%= company.pin %>
  </p>

  <p>
    <strong>Tel:</strong>
    <%= company.tel %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= company.address %>
  </p>

</div>
