<div class="container">
  <div>
    <h2><%= plural_table_name.titleize %></h2>

    <%% if @<%= plural_table_name %>.exists? %>
      <%%= link_to 'New <%= singular_table_name.titleize %>', new_<%= singular_route_name %>_path, class: "btn btn-primary" %>
    <%% end %>
  </div>

  <%% if @<%= plural_table_name %>.exists? %>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <% attributes.reject(&:password_digest?).each do |attribute| -%>
              <th><%= attribute.human_name %></th>
            <% end %>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
        <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
          <tr>
            <% attributes.reject(&:password_digest?).each do |attribute| -%>
              <td><%%= <%= singular_table_name %>.<%= attribute.column_name %> %></td>
            <% end %>
            <td>
              <%%= link_to "Edit", edit_<%= singular_table_name %>_path(<%= singular_table_name %>), class: 'btn btn-info btn-sm m-2' %>
              <%%= link_to 'Delete', <%= singular_table_name %>, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
            </td>
          </tr>
        <%% end %>
        </tbody>
      </table>
    </div>

  <%% else %>
    <div class="card text-center">
      <div class="card-header">
        Ooops!!!
      </div>
      <div class="card-body">
        <h5 class="card-title">No <%= plural_table_name.titleize %> found</h5>
        <p class="card-text">No <%= plural_table_name.titleize %> to list. Please add a new one!</p>
        <%%= link_to 'New <%= singular_table_name.titleize %>', new_<%= singular_route_name %>_path, class: "btn btn-primary" %>
      </div>
      <div class="card-footer text-muted">
        0 <%= plural_table_name.titleize %> found
      </div>
    </div>
  <%% end %>
</div>